{% load static %}

<!--
    Item Name: Luxurious - Hotel Booking Tailwind CSS Template..
    Author: ashishmaraviya
    Version: 1.0.0
    Copyright 2024
	Author URI: https://themeforest.net/user/ashishmaraviya
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Best Luxurious Hotel Booking Template.">
    <meta name="keywords" content="hotel, booking, business, restaurant, spa, resort, landing, agency, corporate, start up, site design, new business site, business template, professional template, classic, modern">
    <title>Luxurious - Hotel Booking Tailwind CSS Template.</title>

    <link rel="icon" href="assets/img/favicons/favicon.png" type="image/x-icon">

    <!-- Css All Plugins Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">    
    <link rel="stylesheet" href="{% static 'css/aos.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css" integrity="sha512-i5VzKip7owqOGjb0YTF8MR2J9yBVO3FLHeazKzLp354XYTmKcqEU3UeFYUw82R8tV6JqxeATOfstCfpfPhbyEA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/slick.min.css'%}">

    <!-- Tailwind css -->
    <script src="{%static 'js/vendor/tailwindcss3.4.0.js'%}"></script>
    <script src="{%static '/js/vendor/jquery-1.12.4.min.js'%}"></script>


    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    <script defer>
        document.addEventListener('DOMContentLoaded', function () {
            console.log("clicked")
          // Get all room type buttons
          var roomTypeButtons = document.querySelectorAll('.nav-link');
      
          // Set up click event listeners for each button
          roomTypeButtons.forEach(function (button) {
            button.addEventListener('click', function () {
              // Get the room type and image URL from the button's attributes
              var roomType = button.getAttribute('id');
              var imageURL = button.querySelector('img').getAttribute('src');
      
              // Update the content of elements with IDs "selectRoom" and "roomImage"
              var selectRoomElement = document.getElementById('selectRoom');
              var roomImageElement = document.getElementById('roomImage');
      
              if (selectRoomElement && roomImageElement) {
                selectRoomElement.textContent = roomType;
                roomImageElement.setAttribute('src', imageURL);
              }
            });
          });
        });
      </script>

</head>

<body class="overflow-x-hidden">
    <!-- Header -->
  <header>
    <div class="relative">
        <div class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[12px] lg:flex hidden">
            <div class="w-1/2 py-[10px] flex">
                <div class="pr-[15px] border-r border-solid border-[#ddd]">
                    <i class="ri-mail-line mr-[5px] text-[#ed5b31] text-[16px]"></i>
                    example@ec-email.com
                </div>
                <div class="flex items-center pl-[15px] lh-location">
                    <div class="flex items-center custom-select text-[14px] text-[#777]">
                        <i class="ri-map-pin-line mr-[5px] text-[#ed5b31] text-[16px]"></i>
                        <select class="hidden">
                            <option value="option1">Surat</option>
                            <option value="option2">Delhi</option>
                            <option value="option3">Rajkot</option>
                            <option value="option4">Udaipur</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="w-1/2 py-[10px] flex justify-end">
                <div class="pr-[15px] border-r border-solid border-[#ddd]">
                    <i class="ri-phone-line mr-[5px] text-[#ed5b31] text-[16px]"></i>
                    +91(123)(456)(7890)
                </div>
                <div class="mx-[-5px] pl-[15px]">
                    <a href="javascript:void(0)"><i class="ri-facebook-box-line facebook mx-[5px] text-[18px] text-[#3b5998]"></i></a>
                    <a href="javascript:void(0)"><i class="ri-twitter-x-line twitter mx-[5px] text-[18px] text-[#03a9f4]"></i></a>
                    <a href="javascript:void(0)"><i class="ri-linkedin-box-line linkedin mx-[5px] text-[18px] text-[#3b5998]"></i></a>
                    <a href="javascript:void(0)"><i class="ri-instagram-line instagram mx-[5px] text-[18px] text-[#ed5b31]"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="lh-header bg-[#000000b3] absolute w-full z-[16] py-[6px]">
        <div class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[12px]">
            <nav class="flex flex-nowrap w-full py-[3px]">
                <a class="navbar-brand py-[5px]" href="index.html">
                    <img src="assets/img/logo/logo.png" alt="logo" class="xl:w-[180px] w-[160px] relative z-[2]">
                </a>
                <button class="navbar-toggler shadow-none flex basis-[auto] grow items-center text-[24px] text-[#fff] lg:hidden flex justify-end" type="button" data-bs-toggle="collapse" data-bs-target="#" aria-label="Toggle navigation">
                    <i class="ri-menu-2-line"></i>
                </button>
                <div class="flex basis-[auto] grow items-center lg:flex hidden">
                    <ul class="navbar-nav flex w-full relative z-[3] flex-row justify-end">
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] nav-link" href="index.html">
                                Home
                            </a>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] relative nav-link dropdown-toggle"
                                href="javascript:void(0)">
                                Category <i class="ri-arrow-down-s-line ml-[5px]"></i>
                            </a>
                            <ul class="dropdown-menu min-w-[150px] text-left opacity-0 invisible bg-[#fff] shadow-[0_0_3px_1px_rgba(0,0,0,0.2)] block z-[9] rounded-t-[0] rounded-b-[10px] mt-[30px] transition-all duration-[0.3s] ease-in-out">
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="gallery.html">gallery 1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="gallery-2.html">gallery 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] relative nav-link dropdown-toggle" href="javascript:void(0)">
                                Room <i class="ri-arrow-down-s-line ml-[5px]"></i>
                            </a>
                            <ul class="dropdown-menu min-w-[150px] text-left opacity-0 invisible bg-[#fff] shadow-[0_0_3px_1px_rgba(0,0,0,0.2)] block z-[9] rounded-t-[0] rounded-b-[10px] mt-[30px] transition-all duration-[0.3s] ease-in-out">
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="room.html">Room</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="room-details.html">Room-details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] nav-link relative dropdown-toggle" href="javascript:void(0)">
                                Pages <i class="ri-arrow-down-s-line ml-[5px]"></i>
                            </a>
                            <ul class="dropdown-menu min-w-[150px] text-left opacity-0 invisible bg-[#fff] shadow-[0_0_3px_1px_rgba(0,0,0,0.2)] block z-[9] rounded-t-[0] rounded-b-[10px] mt-[30px] transition-all duration-[0.3s] ease-in-out">
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="contact.html">Contact</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="facilities.html">Facilities</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="faq.html">Faq</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="prices.html">Prices</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="services.html">Services</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="spa.html">Spa</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="team.html">Team</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="checkout.html">Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] nav-link relative dropdown-toggle" href="javascript:void(0)">
                                Blog <i class="ri-arrow-down-s-line ml-[5px]"></i>
                            </a>
                            <ul class="dropdown-menu min-w-[150px] text-left opacity-0 invisible bg-[#fff] shadow-[0_0_3px_1px_rgba(0,0,0,0.2)] block z-[9] rounded-t-[0] rounded-b-[10px] mt-[30px] transition-all duration-[0.3s] ease-in-out">
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="blog-details.html">Blog-details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] nav-link" href="restaurant.html">
                                Restaurant
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

    {% block body %}{% endblock body %}


</body>

<!-- Plugins JS -->

<script src="{%static 'js/vendor/swiper-bundle.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/vendor/magnific-popup.min.js' %}"></script>
<script src="{%static 'js/vendor/aos.js' %}"></script>
<script src="{%static 'js/vendor/semantic.min.js'%}"></script>
<script src="{%static 'js/slick.min.js'%}"></script>
<script src="{%static 'js/vendor/particles.min.js'%}"></script>
<script src="{%static 'js/vendor/app.js'%}"></script>
<script src="{%static 'js/main1.js'%}"></script>
<script src="{%static 'js/custom.js'%}"></script>



</html>