{% load static %}

<!--
    Item Name: Luxurious - Hotel Booking Tailwind CSS Template..
    Author: ashishmaraviya
    Version: 1.0.0
    Copyright 2024
	Author URI: https://themeforest.net/user/ashishmaraviya
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Best Luxurious Hotel Booking Template.">
    <meta name="keywords" content="hotel, booking, business, restaurant, spa, resort, landing, agency, corporate, start up, site design, new business site, business template, professional template, classic, modern">
    <title>Luxurious - Hotel Booking Tailwind CSS Template.</title>

    <link rel="icon" href="assets/img/favicons/favicon.png" type="image/x-icon">

    <!-- Css All Plugins Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" integrity="sha512-WEQNv9d3+sqyHjrqUZobDhFARZDko2wpWdfcpv44lsypsSuMO0kHGd3MQ8rrsBn/Qa39VojphdU6CMkpJUmDVw==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.1.0/remixicon.min.css" integrity="sha512-i5VzKip7owqOGjb0YTF8MR2J9yBVO3FLHeazKzLp354XYTmKcqEU3UeFYUw82R8tV6JqxeATOfstCfpfPhbyEA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css" integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.css" integrity="sha512-pmAAV1X4Nh5jA9m+jcvwJXFQvCBi3T17aZ1KWkqXr7g/O2YMvO8rfaa5ETWDuBvRq6fbDjlw4jHL44jNTScaKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Tailwind css -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{%static 'js/vendor/tailwindcss3.4.0.js'%}"></script>


    <!-- Main Style -->
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    

</head>

<body class="overflow-x-hidden">
    <!-- Header -->
  <header>
    <div class="relative">
        <div class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[12px] lg:flex hidden">
            <div class="w-1/2 py-[10px] flex">
                <div class="pr-[15px] border-r border-solid border-[#ddd]">
                    <i class="ri-mail-line mr-[5px] text-[#ed5b31] text-[16px]"></i>
                    example@ec-email.com
                </div>
                <div class="flex items-center pl-[15px] lh-location">
                    <div class="flex items-center custom-select text-[14px] text-[#777]">
                        <i class="ri-map-pin-line mr-[5px] text-[#ed5b31] text-[16px]"></i>
                        <select class="hidden">
                            <option value="option1">Surat</option>
                            <option value="option2">Delhi</option>
                            <option value="option3">Rajkot</option>
                            <option value="option4">Udaipur</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="w-1/2 py-[10px] flex justify-end">
                <div class="pr-[15px] border-r border-solid border-[#ddd]">
                    <i class="ri-phone-line mr-[5px] text-[#ed5b31] text-[16px]"></i>
                    +91(123)(456)(7890)
                </div>
                <div class="mx-[-5px] pl-[15px]">
                    <a href="javascript:void(0)"><i class="ri-facebook-box-line facebook mx-[5px] text-[18px] text-[#3b5998]"></i></a>
                    <a href="javascript:void(0)"><i class="ri-twitter-x-line twitter mx-[5px] text-[18px] text-[#03a9f4]"></i></a>
                    <a href="javascript:void(0)"><i class="ri-linkedin-box-line linkedin mx-[5px] text-[18px] text-[#3b5998]"></i></a>
                    <a href="javascript:void(0)"><i class="ri-instagram-line instagram mx-[5px] text-[18px] text-[#ed5b31]"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="lh-header bg-[#000000b3] absolute w-full z-[16] py-[6px]">
        <div class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px] px-[12px]">
            <nav class="flex flex-nowrap w-full py-[3px]">
                <a class="navbar-brand py-[5px]" href="index.html">
                    <img src="assets/img/logo/logo.png" alt="logo" class="xl:w-[180px] w-[160px] relative z-[2]">
                </a>
                <button class="navbar-toggler shadow-none flex basis-[auto] grow items-center text-[24px] text-[#fff] lg:hidden flex justify-end" type="button" data-bs-toggle="collapse" data-bs-target="#" aria-label="Toggle navigation">
                    <i class="ri-menu-2-line"></i>
                </button>
                <div class="flex basis-[auto] grow items-center lg:flex hidden">
                    <ul class="navbar-nav flex w-full relative z-[3] flex-row justify-end">
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] nav-link" href="index.html">
                                Home
                            </a>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] relative nav-link dropdown-toggle"
                                href="javascript:void(0)">
                                Category <i class="ri-arrow-down-s-line ml-[5px]"></i>
                            </a>
                            <ul class="dropdown-menu min-w-[150px] text-left opacity-0 invisible bg-[#fff] shadow-[0_0_3px_1px_rgba(0,0,0,0.2)] block z-[9] rounded-t-[0] rounded-b-[10px] mt-[30px] transition-all duration-[0.3s] ease-in-out">
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="gallery.html">gallery 1</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="gallery-2.html">gallery 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] relative nav-link dropdown-toggle" href="javascript:void(0)">
                                Room <i class="ri-arrow-down-s-line ml-[5px]"></i>
                            </a>
                            <ul class="dropdown-menu min-w-[150px] text-left opacity-0 invisible bg-[#fff] shadow-[0_0_3px_1px_rgba(0,0,0,0.2)] block z-[9] rounded-t-[0] rounded-b-[10px] mt-[30px] transition-all duration-[0.3s] ease-in-out">
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="room.html">Room</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="room-details.html">Room-details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] nav-link relative dropdown-toggle" href="javascript:void(0)">
                                Pages <i class="ri-arrow-down-s-line ml-[5px]"></i>
                            </a>
                            <ul class="dropdown-menu min-w-[150px] text-left opacity-0 invisible bg-[#fff] shadow-[0_0_3px_1px_rgba(0,0,0,0.2)] block z-[9] rounded-t-[0] rounded-b-[10px] mt-[30px] transition-all duration-[0.3s] ease-in-out">
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="contact.html">Contact</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="facilities.html">Facilities</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="faq.html">Faq</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="prices.html">Prices</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="services.html">Services</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="spa.html">Spa</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="team.html">Team</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="checkout.html">Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] nav-link relative dropdown-toggle" href="javascript:void(0)">
                                Blog <i class="ri-arrow-down-s-line ml-[5px]"></i>
                            </a>
                            <ul class="dropdown-menu min-w-[150px] text-left opacity-0 invisible bg-[#fff] shadow-[0_0_3px_1px_rgba(0,0,0,0.2)] block z-[9] rounded-t-[0] rounded-b-[10px] mt-[30px] transition-all duration-[0.3s] ease-in-out">
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="blog.html">Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-[14px] text-[#777] capitalize hover:text-[#ed5b31]" href="blog-details.html">Blog-details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ml-[30px] nav-item dropdown">
                            <a class="py-[5px] text-[15px] text-[#fff] nav-link" href="restaurant.html">
                                Restaurant
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>

    {% block body %}{% endblock body %}


</body>

<!-- Plugins JS -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.js" integrity="sha512-hRhHH3+D9xVKPpodEiYzHWIG8CWbCjp7LCdZ00K3/6xsdC3iT0OlPJLIwxSMEl07gya1Ae8iAqXjMMLpzqqh0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js" integrity="sha512-C1zvdb9R55RAkl6xCLTPt+Wmcz6s+ccOvcr6G57lbm8M2fbgn2SUjUJbQ13fEyjuLViwe97uJvwa1EUf4F1Akw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js" integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{%static 'js/vendor/app.js'%}"></script>
<script src="{%static 'js/main1.js'%}"></script>
<script src="{%static 'js/custom.js'%}"></script>



</html>