<!-- checkout-detsils -->
<section class="checkout-page xl:py-[100px] py-[70px] selection-list">
    <div class="flex flex-wrap justify-between items-center mx-auto 2xl:max-w-[1320px] xl:max-w-[1140px] lg:max-w-[960px] md:max-w-[720px] sm:max-w-[540px]">
        <div class="flex flex-wrap w-full mb-[-24px]">
            <div class="lg:w-8/12 w-full px-[12px] mb-[24px] check-dash" data-aos="fade-up" data-aos-duration="2000">
                <div class="lh-checkout">
                    <div class="lh-checkout-content">
                        <div class="lh-checkout-inner mb-[-24px]">
                            <div class="lh-checkout-wrap p-[24px] border-[1px] border-solid border-[#e3e1e1] bg-[#fff] rounded-[15px] mb-[24px]">
                                <div class="lh-checkout-block lh-check-new mb-[24px]">
                                    <h3 class="text-[20px] font-semibold font-Montserrat border-b tracking-normal mb-[25px] relative block text-[#333] leading-[1]">Selected Rooms</h3>
                                    <div class="lh-check-block-content ">
                                        {% comment %} <div class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">Checkout Options</div>
                                        
                                        <div class="lh-new-desc mt-[12px] relative leading-[24px] text-[#777] tracking-normal max-w-[64%]">By creating an account you will be able to shop faster,
                                            be up to date on an order's status, and keep track of the orders you have
                                            previously made.
                                        </div>
                                        <div class="mt-[24px] d-flex"><a href="#" class="duration-[0.3s] ease-in-out border-[1px] border-solid border-[#ed5b31] px-[15px] py-[5px] leading-[28px] bg-[#ed5b31] text-[#fff] relative z-[2] text-[15px] font-medium tracking-[1px] rounded-[10px] hover:bg-inherit hover:text-[#ed5b31]">Continue</a></div> {% endcomment %}
                                        {% for id,items in data.items %}
                                        <div class="block pb-6 mb-6 -mx-4 border-b border-gray-300 dark:border-gray-700 md:flex">
                                            
                                            <div class="w-full px-4 md:2/3">
                                                <div class="flex justify-between">
                                                    <div>
                                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]"> Room: {{items.room_name}}</p>
                                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]"> {{items.number_of_beds}} Bed(s)</p>
                                                        <div>
                                                            <button class="px-4 py-2 font-medium text-center text-blue-700 border border-blue-500 rounded-md dark:hover:border-gray-900 dark:hover:bg-gray-900 dark:text-gray-400 dark:border-gray-700 hover:bg-blue-600 hover:text-gray-100 delete-item" data-item="{{id}}">
                                                                <i class="fa-sharp fa-solid fa-trash"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">Kshs.{{items.room_price}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        {% empty %}
                                        <div class="block pb-6 mb-6 -mx-4 border-b border-gray-300 dark:border-gray-700 md:flex">
                                            
                                            <div class="w-full px-4 md:2/3">
                                                <div class="flex justify-between">
                                                    <div>
                                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]"> No rooms selected yet.</p>
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div> 
                                        {% endfor %}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="lh-checkout-wrap p-[24px] border-[1px] border-solid border-[#e3e1e1] bg-[#fff] rounded-[15px] mb-[24px]">
                                <div class="lh-checkout-block lh-check-bill">
                                    <h3 class="text-[20px] font-semibold font-Montserrat tracking-normal mb-[25px] relative block text-[#333] leading-[1]">Billing Details</h3>
                                    <div class="lh-bl-block-content">
                                        <div class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">Checkout Options</div>
                                        
                                        <div class="lh-check-bill-form">
                                            <form action="#" method="post" class="flex flex-row flex-wrap mx-[-15px] mb-[-15px]">
                                                
                                                <span class="lh-bill-wrap sm:w-[50%] w-full px-[15px] mb-[15px]">
                                                    <label class="mb-[7px] text-[#333] text-[15px] font-medium tracking-normal leading-[1]">First Name*</label>
                                                    <input type="text" name="firstname" class="bg-transparent px-[15px] w-full h-[50px] rounded-[15px] outline-0 border border-solid border-[#e3e1e1] text-[14px] text-[#333]" placeholder="Enter your first name" required>
                                                </span>
                                                <span class="lh-bill-wrap sm:w-[50%] w-full px-[15px] mb-[15px]">
                                                    <label class="mb-[7px] text-[#333] text-[15px] font-medium tracking-normal leading-[1]">Last Name*</label>
                                                    <input type="text" name="lastname" class="bg-transparent px-[15px] w-full h-[50px] rounded-[15px] outline-0 border border-solid border-[#e3e1e1] text-[14px] text-[#333]" placeholder="Enter your last name" required>
                                                </span>
                                                <span class="lh-bill-wrap sm:w-[50%] w-full px-[15px] mb-[15px]">
                                                    <label class="mb-[7px] text-[#333] text-[15px] font-medium tracking-normal leading-[1]">Email*</label>
                                                    <input type="email" name="email" class="bg-transparent px-[15px] w-full h-[50px] rounded-[15px] outline-0 border border-solid border-[#e3e1e1] text-[14px] text-[#333]" placeholder="Enter your email" required>
                                                </span>
                                                <span class="lh-bill-wrap sm:w-[50%] w-full px-[15px] mb-[15px]">
                                                    <label class="mb-[7px] text-[#333] text-[15px] font-medium tracking-normal leading-[1]">Phone Number*</label>
                                                    <input type="text" name="phone" class="bg-transparent px-[15px] w-full h-[50px] rounded-[15px] outline-0 border border-solid border-[#e3e1e1] text-[14px] text-[#333]" placeholder="Enter your phone number" required>
                                                </span> 
                                                <div class="mt-[24px] d-flex"></div>                                              
                                                <div class="mt-[24px] d-flex"><button type="submit" class="duration-[0.3s] ease-in-out border-[1px] border-solid border-[#ed5b31] px-[15px] py-[5px] leading-[28px] bg-[#ed5b31] text-[#fff] relative z-[2] text-[15px] font-medium tracking-[1px] rounded-[10px] hover:bg-inherit hover:text-[#ed5b31]">Continue to checkout</button></div>                                              
                                                
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="lg:w-4/12 w-full px-[12px] mb-[24px]" data-aos="fade-up" data-aos-duration="3000">
                <div class="lh-side-room bg-[#f7f5f1] rounded-[15px] sticky top-[80px]">
                    <div class="relative w-full p-1">
                        <img src="{{hotel.image.url}}" />
                        <div class="absolute bottom-0 left-0 right-0 px-4 py-2 bg-gray-800 opacity-70">
                            <h3 class="text-xl text-white font-bold">
                                {{hotel.name}}</h3>
                            <p class="mt-2 text-sm text-gray-300">{{ hotel.mobile }}</p>
                            <p class="mt-2 text-sm text-gray-300">{{ hotel.email }}</p>
                        </div>
                    </div>
                    <h4 class="lh-room-inner-heading p-[20px] text-[18px] text-[#000] font-bold border-b border-solid border-[#e3e1e1]">
                        Booking Summary</h4>
                    <div class="lh-side-reservation pt-0 pr-[24px] pl-[24px] pb-[24px]">
                        <div class="block pb-2 mb-2 -mx-4 border-gray-300 dark:border-gray-700 md:flex">                                            
                            <div class="w-full px-4 md:2/3">
                                <div class="flex justify-between">
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]"> checkin Date</p>                                        
                                    </div>
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">{{checkin}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="block pb-2 mb-2 -mx-4 border-gray-300 dark:border-gray-700 md:flex">                                            
                            <div class="w-full px-4 md:2/3">
                                <div class="flex justify-between">
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]"> checkout Date</p>                                        
                                    </div>
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">{{checkout}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="block pb-2 mb-2 -mx-4 border-gray-300 dark:border-gray-700 md:flex">                                            
                            <div class="w-full px-4 md:2/3">
                                <div class="flex justify-between">
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]"> Total Days</p>                                        
                                    </div>
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">{{total_days}} days</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="block pb-2 mb-2 -mx-4 border-gray-300 dark:border-gray-700 md:flex">                                            
                            <div class="w-full px-4 md:2/3">
                                <div class="flex justify-between">
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]"> Adults</p>                                        
                                    </div>
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">{{adults}} </p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="block pb-2 mb-2 -mx-4 border-gray-300 dark:border-gray-700 md:flex">                                            
                            <div class="w-full px-4 md:1/3">
                                <div class="flex justify-between">
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">Children</p>                                        
                                    </div>
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">{{children}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="block pb-6 mb-6 -mx-4 border-t border-gray-300 dark:border-gray-700 md:flex">                                            
                            <div class="w-full px-4 md:2/3">
                                <div class="flex justify-between">
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">Total</p>                                        
                                    </div>
                                    <div>
                                        <p class="mb-[14px] text-[#333] font-medium tracking-normal leading[1]">{{total}}</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
                                              
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Tap to top -->
<a href="#" class="back-to-top hidden fixed right-[15px] bottom-[15px] z-10 hover:text-[#fff] cursor-pointer w-[38px] h-[38px] rounded-[20px] bg-[#ed5b31] text-[#fff] text-center text-[22px] leading-relaxed result-placeholder">
    <i class="ri-arrow-up-double-line text-[20px]"></i>
</a>
